.shineofthesun {
  display: grid;
  grid-template-columns: 1fr;
}

.lablething1,
.lablething2 {
  display: block;
  grid-row-start: 1;
  grid-column-start: 1;
  text-box: trim-both;
}

.lablething2 {
  opacity: 0;
  translate: 0 0.5lh;
  filter: blur(1px);
}

.lablething1animating {
  translate: 0 -0.5lh;
  opacity: 0;
  transition: 0.3s ease;
  filter: blur(1px);
}

.lablething2animating {
  translate: 0;
  opacity: 1;
  transition: 0.3s ease;
  filter: blur(0);
  transition-delay: 0.1s;
}
