# IntelliJ
.idea
*.iml

# Eclipse
.classpath
.project
.settings/

#JEnv
.java-version

target
work

node
node_modules

use-node
.DS_Store

chromedriver.exe

!.travis.yml

build-monitor-plugin/src/main/webapp
