<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alice Smith</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>vhwsuf8y2IBe/qgsTkrBeqaoQR0AtwRr+i2wNR9QtRmc78CXmvG3bXmMsDKjRlLG</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$LK1wAmWZnX3FWumnOJbHVu1hf14PLfjupBMbE9H2EZTtYXT5wh.mC</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alice.smith@example.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>