html{color:#fff;font-family:'Open sans',sans-serif;font-size:16px;line-height:1.4;}
h1,h2,h3,h4,h5,h6 {
    text-align:center;
}

#header, #side-panel, #view-message { display: none; }

/*
    Typography
*/
.build-monitor.dashboard a,
.build-monitor.dashboard a:visited {
    color:white;
}


.build-monitor.dashboard {
    overflow: hidden;
    position: absolute; left:0px; top:0px;
    height:   100%;
    width:    100%;
    margin:0; padding: 0;
}

.build-monitor header {
    height:5%;
}

.build-monitor header h1 {
    margin:0; padding-top:0.5%;
}

.build-monitor ul#job-views {
    list-style-type: none;
    margin:0; padding:0;
    width:100%;
    height:90%;
    /*border:1px solid red;*/
}

.build-monitor ul#job-views li {
    position:relative;
    display: inline-block;
    margin:0.25%; padding:0;
    width:49.5%;
    height:48.5%;
    border-radius:10px;
}

.build-monitor ul#job-views li.successful h2 {
    margin-top:23%;
}

.build-monitor ul#job-views li.failing h2 {
    margin-top:18%;
}

.build-monitor ul#job-views .progress {
    z-index: 0;
    position:absolute; left:0; top:0;
    background-color: pink;
    width:0%; height:100%;
    transition: width 1s;
    -webkit-transition: width 1s;
    text-align: right;
    overflow: hidden;
    border-radius:10px;
}

.build-monitor ul#job-views .successful > .progress {
    -webkit-animation: forSuccessful 2s infinite alternate;
}

.build-monitor ul#job-views .failing > .progress {
    -webkit-animation: forFailing 2s infinite alternate;
}

@-webkit-keyframes forSuccessful { 0% {background-color: darkgreen;} 100% {background-color: green;} }
@-webkit-keyframes forFailing { 0% {background-color: darkred;} 100% {background-color: red;} }

#div { -webkit-animation: colorPulse 10s infinite alternate; }

.build-monitor ul#job-views li .meta {
    z-index: 10;
    position:absolute; left:0; top:0;
    width:100%; height:100%;
}

.config {
    position: absolute; right:1%; top:1%;
    z-index:  999;
    margin:   0;     padding: 0;
    width:    15px;  height:  16px;
    overflow: hidden;
    border-radius: 8px;
}

.config:hover {
    width:    auto; height: auto;
    padding:  10px;
    overflow: visible;
}

.successful {
    background-color:darkgreen;
}

.failing {
    background-color:darkred;
}

.running {

}

/*
screen:
    width:  100%;
    height: 100%;
    columns: 2;
    jobs:    6;

panel:
    width:  100%/columns


*/