/*
 *   Hide Jenkins UI
 */

#header, #side-panel, #view-message { display: none; }

/*
 *   Colours & Typography
 */

html{color:#fff;font-family:'Open sans',sans-serif;font-size:16px;line-height:1.4;}
h1,h2,h3,h4,h5,h6 {
    text-align:center;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6, li, a {
    font-family: 'Open sans', Verdana, Helvetica, sans serif;
}
header>h1 {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.build-monitor a,
.build-monitor a:visited {
    color:white;
    text-decoration: none;
}
.build-monitor a:hover {
    text-decoration: underline;
}

.build-monitor header h1 {
    margin:auto;
    font-size: 4em;
    letter-spacing: 0.1em;
}

.build-monitor h2 {
    font-size: 3.5em;
}

.build-monitor p {
    font-size: 2em;
}

.build-monitor .successful { background-color:darkgreen; }
.build-monitor .failing { background-color:darkred; }
.build-monitor .running { }

.build-monitor a.build-number {
    display:block;
    position:absolute;
    bottom:-0.2em; right:0.1em;
    font-weight: bold;
    font-size: 5em;
    color:rgba(255,255,255, 0.3);
}

.build-monitor footer {
    padding:0.7em 1.5em 0 0;
    text-align: right;
    color: #ddd;
}


.build-monitor ul.culprits {
    list-style-type: none;
    margin: 0 0 0.25em 1em; padding: 0;
    font-size: 1.2em;
}

.build-monitor ul.culprits li { display: inline-block; }
.build-monitor ul.culprits li:after { content: ","; }
.build-monitor ul.culprits li:last-child:after { content: ""; }

.build-monitor .failing ul.culprits li:first-child:before {
    content: "Possible Culprits: ";
}

/*
 *   Layout
 */

.build-monitor.dashboard {
    overflow: hidden;
    position: absolute; left:0px; top:0px;
    height:   100%;
    width:    100%;
    margin:0; padding: 0;

    display: -webkit-flex;
    display: flex;
            flex-flow: column;
    -webkit-flex-flow: column;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.build-monitor header {
    -webkit-flex: 8;
            flex: 8;

    display: -webkit-flex;
    display: flex;

    align-items:   center;
    align-content: center;
}

.build-monitor ul#job-views {
    -webkit-flex: 88;
            flex: 88;
}

.build-monitor footer {
    -webkit-flex: 4;
            flex: 4;
}

.build-monitor ul#job-views {
    list-style-type: none;
    margin:0; padding:0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.build-monitor ul#job-views li {
    -webkit-flex: 1 40%;
            flex: 1 40%;

    margin:0.5%;
}

.build-monitor ul#job-views .meta {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    align-content: center;
    align-items:center;
}

.build-monitor ul#job-views .meta h2 {
    -webkit-flex: 4;
    flex: 4;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.build-monitor ul#job-views .meta .culprits {
    -webkit-flex: 1 ;
    flex: 1;
    width:75%;
    overflow: hidden;
}

/*
 *   Job meta-data
 */

.build-monitor ul#job-views li .meta {
    z-index: 10;
    position:absolute; left:0; top:0;
    width:100%; height:100%;
}

/*
 *   Progress bar
 */

.build-monitor ul#job-views li {
    position:relative;
    border-radius:10px;
    overflow: hidden;
}

.build-monitor ul#job-views .progress {
    z-index: 0;
    position:absolute; left:0; top:0;
    width:0%; height:100%;
    text-align: right;
    overflow: hidden;
    border-radius:10px;
}
.build-monitor ul#job-views .progress span {
    display:none;
}

.build-monitor ul#job-views .successful > .progress {
    -webkit-animation: forSuccessful 2.25s 2 alternate;
    background-color: green;
}

.build-monitor ul#job-views .failing > .progress {
    -webkit-animation: forFailing 2.25s 2 alternate;
    background-color: firebrick;
}

@-webkit-keyframes forSuccessful { 0% {background-color: green;} 100% {background-color: limegreen;} }
@-webkit-keyframes forFailing { 0% {background-color: firebrick;} 100% {background-color: red;} }

/*
 *   Modal
 */
.modal {
    width: 60%;
    margin-left: -30%;
    color: #000;
    background: #fff;
}
.modal-header h1 {
    text-align: left;
    font-size:2.5em;
}
.modal-body p {
    font-size:2em;
}

/*
 *   Images and icons
 */
.dashboard { background: url('industrial/background.png'); }

.icon {
    display:inline-block;
    width:16px; height:16px;
    *margin-right:.3em;
    line-height:16px;
    vertical-align:text-top;
    background-image:url("industrial/glyphs.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:1px;
    background-size:48px 16px; /* half of the size so that it looks descent on Retina */
    text-indent: -9999px;
}
.icon.settings { background-position:0px 0px;}
.icon.font-decrease { background-position:-16px 0px;}
.icon.font-increase { background-position:-32px 0px;}


/*
 *   Config nav
 */

.build-monitor nav {
    position: absolute; right:1%; top:1%;
    z-index:  999;
    margin:   0;     padding: 0;
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
    opacity: 0.6;
}
.build-monitor nav, .build-monitor nav .icon {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.build-monitor nav:hover {
    background: rgba(100, 100, 100, 0.75);
    opacity: 1;
}
.build-monitor nav:hover .icon {
    background-size: 96px 32px;
    width:32px; height:32px;
    line-height:32px;
}
.build-monitor nav:hover .icon.settings { background-position:0px 0px;}
.build-monitor nav:hover .icon.font-decrease { background-position:-32px 0px;}
.build-monitor nav:hover .icon.font-increase { background-position:-64px 0px;}

.build-monitor nav ul {
    list-style-type: none;
    padding:0;
}
.build-monitor nav li {
    display:inline-block;
    margin:0 0.5em;
}
.build-monitor nav li:last-child {
    margin:0 1em 0 1.5em;
}