$cell-padding: 1rem;

.bm-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  appearance: none;
  background: none;
  //height: 100%;
  cursor: pointer;
  //width: 100%;
  text-decoration: none !important;
  border-radius: 1rem;
  font-size: 2em;
  font-weight: 450 !important;
  padding: $cell-padding;
  z-index: 0;
  transition: var(--standard-transition);
  text-shadow:
    0 0 1px color-mix(in srgb, var(--background) 15%, transparent),
    0 5px 15px color-mix(in srgb, var(--background) 15%, transparent);
  outline: none;
  overflow: hidden;
  text-align: center;
  color: color-mix(in srgb, var(--bm-cell-color) 75%, var(--text-color)) !important;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &::before {
    transition: var(--standard-transition);
    background: color-mix(
      in oklch,
      var(--bm-cell-color) var(--opacity-modifier, 60%),
      transparent
    );
    box-shadow:
      inset 0 0 1.5px oklch(from var(--bm-cell-color) l c h / 75%),
      inset 0 0 100px oklch(from var(--bm-cell-color) l c h / 15%),
      0 0 0 8px transparent;
    color: inherit;
  }

  &--color-blind-mode {
    &::after {
      background: var(--bm-cell-color);
      mask-image: var(--cell-texture, url("data:"));
      mask-position: center;
      mask-size: 6rem;
      opacity: 0.5;
    }
  }

  &:hover {
    --opacity-modifier: 70%;
  }

  &:active,
  &:focus {
    --opacity-modifier: 80%;

    &::before {
      box-shadow:
        inset 0 0 1.5px oklch(from var(--bm-cell-color) l c h / 75%),
        inset 0 0 100px oklch(from var(--bm-cell-color) l c h / 15%),
        0 0 0 4px color-mix(in oklch, var(--bm-cell-color) 50%, transparent);
    }
  }

  &--successful {
    --bm-cell-color: var(--success-color);
  }

  &--failing {
    --bm-cell-color: var(--destructive-color);
    --cell-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><rect width='10' height='10' fill='transparent'/><path d='M0,10 L10,0 M-2,2 L2,-2 M8,12 L12,8' stroke='black' stroke-width='2'/></svg>");
  }

  &--warning {
    --bm-cell-color: var(--warning-color);
    --cell-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'><polygon points='50,0 100,50 50,100 0,50' fill='black'/></svg>");
  }

  &--null {
    --bm-cell-color: var(--text-color-secondary);
  }

  &--running {
    --bm-cell-color: var(--blue);

    &::before {
      animation: pulse-thing 2s ease infinite;
    }
  }

  & > * {
    z-index: 10;
  }

  &__details {
    position: absolute;
    left: $cell-padding;
    right: $cell-padding;
    bottom: $cell-padding;
    display: flex;
    justify-content: space-between;
  }

  .durationboi {
    position: absolute;
    inset: 0;
    border-radius: 0;
    background: var(--bm-cell-color);
    pointer-events: none;
    transition: 0.3s ease;
    opacity: 0;

    &--animate {
      opacity: 0.2;
      animation: pulse-thing 2s ease infinite;
    }
  }

  @keyframes pulse-thing {
    50% {
      opacity: 0.05;
    }
  }
}
