$cell-padding: 1rem;

.psv-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  appearance: none;
  background: none;
  height: 100%;
  cursor: pointer;
  width: 100%;
  text-decoration: none !important;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 450 !important;
  color: white !important;
  padding: $cell-padding;
  z-index: 0;
  transition: var(--standard-transition);
  text-shadow: 0 0 1px rgb(0 0 0 / 0.15), 0 5px 15px rgb(0 0 0 / 0.15);
  outline: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: var(--standard-transition);
    background: color-mix(
      in oklch,
      var(--psv-cell-color) var(--opacity-modifier, 65%),
      transparent
    );
    box-shadow: inset 0 0 1.5px oklch(from var(--psv-cell-color) l c h / 75%),
      inset 0 0 100px oklch(from var(--psv-cell-color) l c h / 15%),
      0 0 0 8px transparent;
    color: inherit;
  }

  &:hover {
    --opacity-modifier: 75%;
  }

  &:active,
  &:focus {
    --opacity-modifier: 85%;

    &::before {
      box-shadow: inset 0 0 1.5px oklch(from var(--psv-cell-color) l c h / 75%),
        inset 0 0 100px oklch(from var(--psv-cell-color) l c h / 15%),
        0 0 0 4px color-mix(in oklch, var(--psv-cell-color) 50%, transparent);
    }
  }

  &--successful {
    --psv-cell-color: var(--success-color);
  }

  &--failing {
    --psv-cell-color: var(--destructive-color);
  }

  &--warning {
    --psv-cell-color: var(--warning-color);
  }

  &--in-progress {
    --psv-cell-color: var(--blue);

    &::before {
      animation: pulse-thing 2s ease infinite;
    }
  }

  &__details {
    position: absolute;
    left: $cell-padding;
    right: $cell-padding;
    bottom: $cell-padding;
    display: flex;
    justify-content: space-between;
  }

  .durationboi {
    position: absolute;
    inset: 0;
    border-radius: 0;
    background: currentColor;
    pointer-events: none;
    transition: 0.3s ease;
    opacity: 0;

    &--animate {
      opacity: 0.2;
      animation: pulse-thing 2s ease infinite;
    }
  }

  @keyframes pulse-thing {
    50% {
      opacity: 0.05;
    }
  }
}
