:root {
  --background: black;

  /* Colors */
  --accent-color: oklch(65.13% 0.1987 265);
  --white: oklch(from var(--accent-color) 99% 0.015 h);
  --success-color: oklch(80.25% 0.2197 147.09deg / 75%);
  --warning-color: oklch(79.58% 0.1862 62.09deg / 75%);
  --error-color: oklch(66.82% 0.2393 29.84deg / 75%);

  /* Text */
  --text-color: oklch(from var(--accent-color) 99% 0.015 h);
  --text-color-secondary: oklch(from var(--white) 0.65 0.038 h);

  /* Form */
  --input-color: oklch(from var(--text-color-secondary) l c h / 0.03);
  --input-border: oklch(from var(--text-color-secondary) l c h / 0.3);
  --input-border-hover: oklch(from var(--text-color-secondary) l c h / 0.4);
  --focus-input-glow: oklch(from var(--focus-input-border) l c h / 0.2);

  /* Dropdowns */
  --dropdown-box-shadow:
          inset 0 0 0 1px rgba(255, 255, 255, 0.025),
          inset var(--jenkins-border--subtle-shadow),
          0 0 8px 2px rgba(0, 0, 20, 0.05),
          0 0 1px 1px rgba(0, 0, 20, 0.025),
          0 10px 20px rgba(0, 0, 20, 0.3);

  /* Card */
  --card-background: color-mix(in oklch, var(--text-color-secondary) 10%, var(--background));
  --card-border-color: color-mix(in oklch, var(--text-color-secondary) 10%, var(--background));

  /* Render native browser elements in dark mode */
  color-scheme: dark;
}

.psv-job-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(var(--section-padding) / 2);
  padding-inline: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  height: calc(100vh - 66px);
}

.psv-stageview {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  //width: 100%;
  //table-layout: fixed;
  border-spacing: 0 2px;
  margin-right: 1rem;
  margin-top: 2px;
  margin-bottom: -2px;

  tr {
    height: 60px;
    max-height: 60px;
    //overflow: hidden;
  }

  th, td {
    padding: 0;
    border-collapse: collapse;
    min-width: 130px;
    max-width: 220px;
    height: 60px;
    max-height: 60px;
    //overflow: hidden;

    p {
      word-wrap: break-word;
      white-space: pre-line;
    }
  }

  &__heading {
    //th:first-of-type {
    //  text-align: right;
    //  vertical-align: bottom;
    //  padding: 0.66rem;
    //  color: var(--text-color-secondary);
    //  font-size: 0.66rem;
    //  font-weight: 500;
    //  text-wrap: balance;
    //}

    th {
      vertical-align: bottom;
      padding: 0.66rem;

      p {
        margin: 0;
        text-align: center;
        font-size: 13px;
      }

      p:last-of-type {
        margin-top: 4px;
        color: var(--text-color-secondary);
        font-size: 0.66rem;
      }
    }
  }

  .psv-stageview__build {
    text-align: center;

    .jenkins-button, .psv-cell{
      height: 60px;
    }

    td {
      .jenkins-button, .psv-cell {
        border-radius: 0;
      }
    }

    td:first-of-type {
      .jenkins-button, .psv-cell {
        border-radius: 0.66rem;
      }
    }

    td:not(:first-of-type):nth-of-type(odd) {
      --opacity-modifier: 90%;
    }

    td:nth-of-type(2) {
      padding-left: 3px;

      .jenkins-button, .psv-cell{
        border-radius: 10px 0 0 0.66rem;
      }
    }

    td:last-of-type {
      .jenkins-button, .psv-cell{
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
