<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Bob Jenkins</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>3eo/l0ZqxjpL+zcM2T5G1ykZegKxNk7dbamhGDXPRsCc78CXmvG3bXmMsDKjRlLG</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$X5yd3ceyKi4VkMlwo8QIhe9Pk.Bwz0Es2ri1JfI3nU5niIn1DmUJi</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bob.jenkins@example.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>